/* @import url('../../vendor/fonts/fonts.css'); */

.page {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  background-color: #444;
  min-width: 320px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  position: relative;

  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 4fr 1fr;
}

body {
  margin: 0;
}
