.header {
  background-color: #444;
  padding: 60px 40px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #d7d7d7;
}

@media screen and (max-width: 425px) {
  .header {
    padding: 23px 15px 15px;
  }
}
